body {
    font-family: Arial, sans-serif;
    background-color: #699ab1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-h {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

.contacto {
    display: flex;
    flex-direction: column;
}

.mando {
    margin-bottom: 15px;
}

.mando label {
    margin-bottom: 5px;
    color: #333;
}

.mando input, .mando textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.mando input:focus,
.mando textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}